#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  background-color: rgb(26, 25, 25);
  border-radius: 8px;
  border: 2px solid grey
}

.img-title{
  font-size: 4rem;
  letter-spacing: 0.5rem;
}

.buttons{
  display: flex;
  gap: 10px;
  justify-content: center;
}

.PreviousButt{
  transform: rotate(180deg);
}
.buttons{
  margin: 0 40px
}